*{
    scrollbar-width: none;
    user-select: none;
    .header{
        
        .logo{
        /* Candy */
        position: absolute;
        width: 523px;
        height: 92px;
        left: 244px;
        top: 304px;
        font-family: 'Sail';
        font-style: normal;
        font-weight: 400;
        font-size: 80px;
        line-height: 92px;
        color: #9C0746;
        }
        
        .tagline{
        position: absolute;
        width: 615px;
        height: 126px;
        left: 249px;
        top: 436px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 900;
        font-size: 60px;
        line-height: 105.2%;
        /* or 63px */

        color: #444251;
        }

        .rectangle1{

        position: absolute;
        width: 260px;
        height: 70px;
        left: 410px;
        top: 623px;

        background: linear-gradient(85.61deg, #9C0746 -15.57%, #B44E79 128.11%);
        box-shadow: 0px 20px 40px rgba(66, 2, 29, 0.31);
        border-radius: 50px;
        }
        .choose{
        position: absolute;
        width: 151px;
        height: 19px;
        top: 648px;
        left: 465px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 105.2%;

        color: #FFFFFF;
        }
        .minilogo{

        position: absolute;
        width: 170px;
        height: 30px;
        left: 248px;
        top: 24px;

        font-family: 'Sail';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 30px;

        color: #9C0746;
        }
        .backlogo{
        
        position: absolute;
        width: 1007px;
        height: -100px;
        left: -200px;
        top: 410.07px;

        font-family: 'Sail';
        font-style: normal;
        font-weight: 400;
        font-size: 400px;
        line-height: 10px;
        /* identical to box height */

        color: #9C0746;

        opacity: 0.03;
        transform: rotate(-50deg);

        }
        /*.backlogo2{

        position: absolute;
        width: 1727px;
        height: 426px;
        left: 350px;
        top: 100px;

        font-family: 'Sail';
        font-style: normal;
        font-weight: 400;
        font-size: 400px;
        line-height: 400px;

        color: #9C0746;

        opacity: 0.03;
        transform: rotate(-50deg);

        }*/

        .contacts{

        position: absolute;
        width: 412px;
        height: 24px;
        left: 754px;
        top: 26px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;

        color: #444251;
        }

        .elipse{

        position: absolute;
        width: 1100px;
        height: 1119px;
        left: 830px;
        top: -95px;
        background: url(img/Ellipse.png);
        z-index: 1;
        }

        .basket{
        z-index: 2;
        position: absolute;
        left: 1631px;
        top: 18px;

        }
        .basket:hover{
            transform: scale(1.3);
        }
        .malinka1{

        position: absolute;
        width: 154px;
        height: 150px;
        left: 520px;
        top: 949px;

        background: url(img/Malinka-bez-hvostika2.png);

        }

        .shadow{
        scale: 0.8;
        position: absolute;
        width: 386px;
        height: 123.45px;
        left: 1190px;
        top: 580.55px;
        z-index: 2;
        background: rgba(0, 0, 0, 0.75);
        filter: blur(45px);

        }
        .cupcake2{
        scale: 1;
        position: absolute;
        width: 400px;
        height: 480px;
        left: 1168px;
        top: 219px; 
        z-index: 3;
        }
        
        .elipse2
        {

        position: absolute;
        width: 100px;
        height: 100px;
        left: 1525px;
        top: 258px;
        z-index: 1;
        background: #444447;
        box-shadow: 0px 0px 40px 2px rgba(0, 0, 0, 0.33);
        border-radius: 50%;

        }

        .price{
        position: absolute;
        width: 75px;
        height: 23px;
        left: 1537px;
        top: 297px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 105.2%;
        z-index: 2;
        color: #ffffff;

        } 
        .name{
        position: absolute;
        width: 135px;
        height: 23px;
        left: 1305px;
        top: 754px;
        z-index: 3;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 105.2%;


        color: #444251;

        }

        .rectangle2{

        position: absolute;
        width: 202px;
        height: 54px;
        left: 1267px;
        top: 740px;
        z-index: 2;
        background: #FFFFFF;
        box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.25);
        border-radius: 40px;

        }
        .cupcake1{

        position: absolute;
        width: 554px;
        height: 554px;
        left: 1693px;
        top: -34px;
        z-index: 3;
        background: url(img/cupcake1.png) no-repeat;


        }
        .cupcake3{

        position: absolute;
        width: 371px;
        height: 442px;
        left: 1735px;
        top: 705px;
        z-index: 3;
        background: url(img/cupcake3.png) no-repeat;
        }
        .comp{
        position: absolute;
        width: 267px;
        height: 202px;
        left: 1044px;
        top: 660px;
        z-index: 2;
        background: url(img/comp_single_01.png);


        }
    }

}